<div id="task_form_edit" data-controller="task-form" data-action="submit->task-form#update">
  <%= form_with model: task, url: task_path(task), method: :put, data: { turbo_frame: "task_detail", task_form_target: "form" }, class: "space-y-4 bg-white p-6 rounded-lg shadow-md" do |form| %>
    <%= render partial: "tasks/form_fields", locals: { form: form } %>
    <div class="text-right">
      <%= form.submit "更新", class: "px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2" %>
    </div>
  <% end %>
</div>