<div id="task_form_new">
  <%= turbo_frame_tag "task_form_new" do %>
    <%= render partial: "tasks/form", locals: { task: Task.new } %>
  <% end %>

  <% @tasks.each do |task| %>
    <%= turbo_frame_tag dom_id(task, "form") do %>
      <%= render partial: "tasks/form", locals: { task: task } %>
    <% end %>
  <% end %>
</div>
