<h1 class="font-bold text-4xl text-blue-600">タスク管理アプリ</h1>

<%= button_to "インデックスに移動", tasks_path(format: :turbo_stream), method: :get, data: { turbo_frame: "task_list" } %>
<%= link_to "index", tasks_path %>
</div>