<div data-controller="theme-toggle">
    <button data-action="theme-toggle#toggleTheme" class="btn btn-primary" data-theme-toggle-target="button">
        現在のテーマ: <span data-theme-toggle-target="themeName"></span>
    </button>
</div>